<div class="container">
		<div class="jumbotron">
			<form action="/" method="POST">
				<input type="number" name="angka1" placeholder="angka1"></br>
				</br>
				<input type="number" name="angka2" placeholder="angka2"></br>
				</br>
				<button type="submit">submit</button>	
			</form>
		</div>
	</div>