<div class="container">
    <center><h3 style="font-weight:bold">{{judul}}</h3></center><br/>

        <div class="jumbotron">
            <form action="/" method="POST" class="form-horizontal">

                <div class="form-group">
                    <label for="id" class="col-sm-2 control-label">ID</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control" name="id" placeholder="ID">
                    </div>
                </div>

                <div class="form-group">
                    <label for="nama_resep" class="col-sm-2 control-label">Nama Resep</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="nama_resep" placeholder="Nama Resep">
                    </div>
                </div>
               
               <div class="form-group">
                    <label for="deskripsi" class="col-sm-2 control-label">Deskripsi</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="deskripsi" placeholder="Deskripsi">
                    </div>
                </div>

                <div class="form-group">
                    <label for="penulis" class="col-sm-2 control-label">Penulis</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="penulis" placeholder="Penulis">
                    </div>
                </div>

                <div class="form-group">
                    <label for="cara_pembuatan" class="col-sm-2 control-label">Cara Pembuatan</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" rows="3" name="cara_pembuatan"></textarea> 
                    </div>
                </div>
                
                <input class="btn btn-default" type="submit" value="Submit">

            </form>
        </div>






<div class="row">
            {{#each data}}
            <div class="col-sm-6 col-md-4">
                <a href="/detail_resep?id={{id}}">
                    <div class="thumbnail" style="background-color:#dbe4ff">
                        <div class="caption">
                            <h3 style="font-weight:bold">{{nama_resep}}</h3>
                            <p style="margin-top:-10px">by{{penulis}}</p>
                        </div>
                    </div>
                </a>
            </div>
           {{/each}}
        </div>

        <br/><br/><br/><br/><br/>

</div> 
